@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Indie+Flower|Montserrat');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  padding: 4rem;
}


#l{
	height:35px;
	width:auto;
}
#work{
	
	height: 300px;
	width: 1236px;
	
}
#section{
	margin-top: 30px;
	height:300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#about {
	
    
   	
    font-family: "Cantarell", sans-serif;
}
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.4;
    }
    blockquote {
		font-size: 34px;
      font-family: 'Amatic SC', cursive;
      font-weight: 300;
    }
	
    h2 {
		color: brown;
      margin-top: 60px;
      margin-bottom: 40px;
      font-family: "Cantarell", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
    }
    .project {
      width: 100%;
      height: 200px;
      position: relative;
      background-size: 75%;
      background-repeat: no-repeat;
      
      margin-bottom: 20px;
	  margin-left: 40px;
	  }
	  
      .overlay {
        display: table;
        position: absolute;
        height: 75%;
        width: 75%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(8,8,8,0.7);
        overflow: hidden;
        z-index: 10;
        transition: opacity 0.3s ease-in-out;
	  }
        h4 {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          text-transform: uppercase;
          font-family: "Cantarell", sans-serif;
          font-size: 24px;
          color: #CDD7B6;
        }
		
    h1{font-size: 30px;
			color:brown;
			font-family: "Cantarell", sans-serif;
      font-weight: 700;
      text-transform: uppercase;}
      #para{
		  font-family: 'Gloria Hallelujah', cursive;
		  }
		  
      .contact-details {
		  text-align:center;
  display: inline-block;
  font-weight: bold;
  margin: 30px;
  margin-left: 100px;
  list-style-type: none;
  border: 2px solid #90C695;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #e0ebe8;
  color: #008080;
  text-decoration: none;
  border: 2px solid #90C695;
  
    
}

.contact-details:hover {
  background: #E4F1FE;
  color: green;
}



  
  
